# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Logs and local files
*.log

# VSCode настройки (если не хочешь коммитить)
.vscode/

# pytest cache
.pytest_cache/

# Coverage reports
.coverage
.coverage.*
htmlcov/

# Mypy cache (если используешь)
.mypy_cache/

# Poetry lock (если ты его коммитишь, то не нужно)
#poetry.lock

# Пакеты и дистрибутивы
build/
dist/
*.egg-info/